## Análise do volume de tráfego aéreo levando em conta a covid-19 no Brasil.
Baseado no repositório covid19 impact on airport traffic disponível no kaggle. Na base disponibilizada pela ANAC estão contempladas informações sobre a quantidade de passageiro, carga e mala postal transportados, distância voada, combustível consumido, entre outras, por etapa de voo e por empresa aérea. Com esses dados e também dados estatísticos da COVID no país será possível verificar se e qual impacto houve com a pandemia.

In [28]:
import pandas as pd
from pandas import DataFrame, Series

In [35]:
impact_au = pd.read_csv('covid_impact_on_airport_traffic.csv')
covid_world = pd.read_csv('owid-covid-data.csv')
covid_cols = DataFrame(covid_world,columns=["date","location","total_cases","total_deaths"])
covid_br = covid_cols[covid_cols['location'].str.match('Brazil')]

In [30]:
voos_br = pd.read_csv('dados_estatisticos.csv', encoding='ISO-8859-1', sep='\t', lineterminator='\r',usecols=["ANO","MÊS","AEROPORTO DE ORIGEM (PAÍS)","AEROPORTO DE DESTINO (PAÍS)","PASSAGEIROS PAGOS","PASSAGEIROS GRÁTIS"])

In [36]:
covid_br.head()

             date location  total_cases  total_deaths
13870  2020-02-26   Brazil          1.0           NaN
13871  2020-02-27   Brazil          1.0           NaN
13872  2020-02-28   Brazil          1.0           NaN
13873  2020-02-29   Brazil          2.0           NaN
13874  2020-03-01   Brazil          2.0           NaN

In [37]:
voos_br.head()

Empty DataFrame
Columns: [ANO, MÊS, AEROPORTO DE ORIGEM (PAÍS), AEROPORTO DE DESTINO (PAÍS), PASSAGEIROS PAGOS, PASSAGEIROS GRÁTIS]
Index: []

## Referências

1. https://www.kaggle.com/terenceshin/covid19s-impact-on-airport-traffic
2. https://www.anac.gov.br/acesso-a-informacao/dados-abertos/areas-de-atuacao/voos-e-operacoes-aereas/dados-estatisticos-do-transporte-aereo/48-dados-estatisticos-do-transporte-aereo
3. https://ourworldindata.org/coronavirus/country/brazil
4. https://towardsdatascience.com/what-to-do-when-your-data-is-too-big-for-your-memory-65c84c600585
5. earthdatascience.org/courses/intro-to-earth-data-science/open-reproducible-science/jupyter-python/code-markdown-cells-in-jupyter-notebook/
6. https://davidhamann.de/2017/06/26/pandas-select-elements-by-string/